---
output-file: 016-blood_tests.html
title: 016-blood_tests
---

# Blood tests dataset

The lab tests in this data set of the Human Phenotype Project are based on tests performed to participants in the community as part of their regular medical care at their HMO (Health Maintenance Organization). Participants are asked to upload their blood/urine tests done at their HMOs from previous years. These tests range from the very common CBC and chemistry tests, Vitamins levels to the standard PCRs for infectious diseases all the way to rare tests requiring the user to measure urine for 24h.

### Data availability:
The information is stored in 1 parquet file `blood_tests.parquet`.

In [1]:
#| echo: false
import pandas as pd
pd.set_option("display.max_rows", 500)

In [2]:
from pheno_utils import PhenoLoader

In [3]:
dl = PhenoLoader('blood_tests')
dl

DataLoader for blood_tests with
67 fields
2 tables: ['blood_tests', 'age_sex']

# Data dictionary

In [4]:
dl.dict

,field_string,description_string,relative_location,value_type,units,sampling_rate,item_type,array,cohorts,data_type,debut,pandas_dtype,parent_dataframe,data_coding
tabular_field_name,,,,,,,,,,,,,,
hmo,HMO,One of 4 Isreali HMOs,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
collection_date,Collection date,Collection date,blood_tests/blood_tests.parquet,Time,NaN,NaN,tabular,Single,10K,NaN,2015-01-01,datetime64[ns],NaN,NaN
bt__albumin_float_value,Blood test - Albumin (Numerical),Albumin,blood_tests/blood_tests.parquet,Continuous,g/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__alkaline_phosphatase_float_value,Blood test - Alkaline Phosphatase (Numerical),ALKP - Alkaline Phosphatase,blood_tests/blood_tests.parquet,Continuous,u/l,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__alt_float_value,Blood test - ALT (Numerical),ALT (GPT) - Alanine Aminotransferease,blood_tests/blood_tests.parquet,Continuous,u/l,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__ast_float_value,Blood test - AST (Numerical),AST (GOT) - Aspartate Aminotransferase,blood_tests/blood_tests.parquet,Continuous,u/l,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__basophils_%_float_value,Blood test - Basophils % (Numerical),Baso % - Basophils percent,blood_tests/blood_tests.parquet,Continuous,%,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__basophils_abs_float_value,Blood test - Basophils # (Numerical),Baso # - Basophils absolute,blood_tests/blood_tests.parquet,Continuous,k/ul,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__calcium_float_value,Blood test - Calcium (Numerical),Ca - Calcium,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__creatinine_float_value,Blood test - Creatinine (Numerical),Creatinine,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__direct_bilirubin_categorical_value,Blood test - Direct Bilirubin (Categorical),Bilirubin Direct/Conjugated,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
bt__direct_bilirubin_float_value,Blood test - Direct Bilirubin (Numerical),Bilirubin Direct/Conjugated,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__eosinophils_%_float_value,Blood test - Eosinophils % (Numerical),Eos % - eosinophils percent,blood_tests/blood_tests.parquet,Continuous,%,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__eosinophils_abs_float_value,Blood test - Eosinophils # (Numerical),Eos # - eosinophils absolute,blood_tests/blood_tests.parquet,Continuous,k/ul,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__estradiol_categorical_value,Blood test - Estradiol (Categorical),E2 - Estradiol,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
bt__estradiol_float_value,Blood test - Estradiol (Numerical),E2 - Estradiol,blood_tests/blood_tests.parquet,Continuous,pmol/l,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__ferritin_categorical_value,Blood test - Ferritin (Categorical),Ferritin,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
bt__ferritin_float_value,Blood test - Ferritin (Numerical),Ferritin,blood_tests/blood_tests.parquet,Continuous,ng/ml,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__ggt_float_value,Blood test - GGT (Numerical),GGT - gama-Glutamyl Transpeptidase,blood_tests/blood_tests.parquet,Continuous,u/l,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__glucose_float_value,Blood test - Glucose (Numerical),Glucose,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__hba1c_float_value,Blood test - HbA1C (Numerical),HbA1C %,blood_tests/blood_tests.parquet,Continuous,%,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__hdl_cholesterol_float_value,Blood test - HDL Cholesterol (Numerical),HDL Cholesterol,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__hematocrit_float_value,Blood test - Hematocrit (Numerical),HCT - Hematocrit,blood_tests/blood_tests.parquet,Continuous,%,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__hemoglobin_float_value,Blood test - Hemoglobin (Numerical),Hb - Hemoglobin,blood_tests/blood_tests.parquet,Continuous,g/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__ldl_cholesterol_float_value,Blood test - LDL Cholesterol (Numerical),LDL Cholesterol,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__lymphocytes_%_float_value,Blood test - Lymphocytes % (Numerical),Lymp % - Lymphocytes percent,blood_tests/blood_tests.parquet,Continuous,%,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__lymphocytes_abs_float_value,Blood test - Lymphocytes # (Numerical),Lymp # - Lymphocytes absolute,blood_tests/blood_tests.parquet,Continuous,k/ul,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__mch_float_value,Blood test - MCH (Numerical),MCH - Mean cell Hemoglobin,blood_tests/blood_tests.parquet,Continuous,pg/cell,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__mchc_float_value,Blood test - MCHC (Numerical),MCHC - Mean cell Hemoglobin concentration,blood_tests/blood_tests.parquet,Continuous,g/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__mcv_float_value,Blood test - MCV (Numerical),MCV - Mean Corpuscular Volume or Mean cell volume,blood_tests/blood_tests.parquet,Continuous,fl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__monocytes_%_float_value,Blood test - Monocytes % (Numerical),Mono % - Monoctypes percent,blood_tests/blood_tests.parquet,Continuous,%,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__monocytes_abs_float_value,Blood test - Monocytes # (Numerical),Mono % - Monoctypes absolute,blood_tests/blood_tests.parquet,Continuous,k/ul,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__mpv_float_value,Blood test - MPV (Numerical),MPV - Mean Platelet Volume,blood_tests/blood_tests.parquet,Continuous,fl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__neutrophils_%_float_value,Blood test - Neutrophils % (Numerical),Neut % - Neutrophils percent,blood_tests/blood_tests.parquet,Continuous,%,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__neutrophils_abs_float_value,Blood test - Neutrophils # (Numerical),Neut # - Neutrophils absolute,blood_tests/blood_tests.parquet,Continuous,k/ul,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__non_hdl_cholesterol_float_value,Blood test - Non HDL Cholesterol (Numerical),Non HDL Cholesterol,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__phosphore_float_value,Blood test - Phosphore (Numerical),P - Phosphore,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__platelets_float_value,Blood test - Platelets (Numerical),PLT - Platelets,blood_tests/blood_tests.parquet,Continuous,k/ul,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__potassium_float_value,Blood test - Potassium (Numerical),K+ - Potassium,blood_tests/blood_tests.parquet,Continuous,mmol/l,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__rbc_float_value,Blood test - RBC (Numerical),RBC - Red Blood Cells,blood_tests/blood_tests.parquet,Continuous,m/ul,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__rdw_float_value,Blood test - RDW (Numerical),RDW - Red Blood Cell Distribution Width,blood_tests/blood_tests.parquet,Continuous,%,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__rheumatoid_factor_categorical_value,Blood test - Rheumatoid Factor (Categorical),Rheumatoid Factor Quantit,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
bt__rheumatoid_factor_float_value,Blood test - Rheumatoid Factor (Numerical),Rheumatoid Factor Quantit,blood_tests/blood_tests.parquet,Continuous,iu/ml,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__sodium_float_value,Blood test - Sodium (Numerical),Na - Sodium,blood_tests/blood_tests.parquet,Continuous,mmol/l,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__testosterone_total_categorical_value,Blood test - Testosterone Total (Categorical),Total Testosterone,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
bt__testosterone_total_float_value,Blood test - Testosterone Total (Numerical),Total Testosterone,blood_tests/blood_tests.parquet,Continuous,nmol/l,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__total_bilirubin_categorical_value,Blood test - Total Bilirubin (Categorical),Total Billirubin,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
bt__total_bilirubin_float_value,Blood test - Total Bilirubin (Numerical),Total Billirubin,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__total_cholesterol_float_value,Blood test - Total Cholesterol (Numerical),Total Cholesterol,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__total_protein_float_value,Blood test - Total Protein (Numerical),Total Protien,blood_tests/blood_tests.parquet,Continuous,g/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__triglycerides_float_value,Blood test - Triglycerides (Numerical),Triglycerides,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__tsh_categorical_value,Blood test - TSH (Categorical),TSH - Thyroid-stimulating hormone,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
bt__tsh_float_value,Blood test - TSH (Numerical),TSH - Thyroid-stimulating hormone,blood_tests/blood_tests.parquet,Continuous,miu/l,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__urate_float_value,Blood test - Urate (Numerical),Urate / Uric Acid,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__urea_float_value,Blood test - Urea (Numerical),Urea,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__vitamin_b12_categorical_value,Blood test - Vitamin B12 (Categorical),Vitamin B12 - Cobalamin,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
bt__vitamin_b12_float_value,Blood test - Vitamin B12 (Numerical),Vitamin B12 - Cobalamin,blood_tests/blood_tests.parquet,Continuous,pg/ml,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__vitamin_d_categorical_value,Blood test - Vitamin D (Categorical),Vitamin D,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
bt__vitamin_d_float_value,Blood test - Vitamin D (Numerical),Vitamin D,blood_tests/blood_tests.parquet,Continuous,ng/ml,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
bt__wbc_float_value,Blood test - WBC (Numerical),WBC - White blood cells,blood_tests/blood_tests.parquet,Continuous,k/ul,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
urine__acr_categorical_value,Urine test - ACR (Categorical),Urine ACR - Albumin / Creatinine Ratio,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
urine__acr_float_value,Urine test - ACR (Numerical),Urine ACR - Albumin / Creatinine Ratio,blood_tests/blood_tests.parquet,Continuous,mg/g creatinine,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
urine__creatinine_float_value,Urine test - Creatinine (Numerical),Creatinine,blood_tests/blood_tests.parquet,Continuous,mg/dl,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN
urine__microalbumin_categorical_value,Urine test - Microalbumin (Categorical),Microalbumin,blood_tests/blood_tests.parquet,Categorical (multiple),NaN,NaN,tabular,Single,10K,NaN,2015-01-01,categorical,NaN,NaN
urine__microalbumin_float_value,Urine test - Microalbumin (Numerical),Microalbumin,blood_tests/blood_tests.parquet,Continuous,mg/l,NaN,tabular,Single,10K,NaN,2015-01-01,float,NaN,NaN